.col {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  height: 95vh;
  border: 2px solid black;
}

.col > form {
  height: 100%;
}

.col > div {
  height: 100%;
}

.col > div > iframe {
  box-sizing: border-box;
  height: 100%;
}

.col > form > textarea {
  box-sizing: border-box;
  height: 90%;
}